{% extends 'base.html' %}
{% block content %}
<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <div class="banner">-->
<!--                <div class="banner-text">-->
<!--                    <h1>ToDo</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">

    TODO
  </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <form method="post" class="p-3 shadow">
    {% csrf_token %}
            <div class="form-group">

    <input type="text" class="form-control" name="task" placeholder="enter your task name" >

</div>
<div class="form-group">
    <input type="text" class="form-control" name="priority" placeholder="enter your priority">

</div>
            <div class="form-group">
    <input type="date" class="form-control" name="date" placeholder="enter your DATE">

</div>




    <input type="submit" class="btn btn-success"><br>
     </form>

<br>
<br>



    </div>
    <div class="col-md-7">
        <h4>task completed</h4>
        {% for i in task1 %}

        <div class="shadow card">
            <div class="card-body">
                <h5 card title>{{i.name}}</h5>
                <p><b>{{i.priority}}</b></p>
                <p><b>{{i.date}}</b></p>

                <a class="btn btn-danger" href="{% url 'delete' i.id %}">delete</a>
                <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
            </div>
             <br>


            {% endfor %}


        </div>
        <br>

    </div>

</div>

    </div>


{% endblock %}
